TELEGRAF_UDP_HOST="127.0.0.1"
TELEGRAF_UDP_PORT=8125
APPLICATION_PORT=8080
METRIC_SAMPLING_RATE=1
APP_ENV="PROD"
APP_NAME="numerix"
ETCD_SERVERS="127.0.0.1:2379"
APP_LOG_LEVEL="INFO"
CHANNEL_BUFFER_SIZE=10000
LOG_SAPMLING_RATE=0.5