APP_ENV=stg
APP_LOG_LEVEL=DEBUG
APP_METRIC_SAMPLING_RATE=1
APP_NAME=interaction-store-serving
APP_PORT=8089

PROFILING_ENABLED=true
PROFILING_PORT=8000

STORAGE_SCYLLA_CONTACT_POINTS=scyl-dev-sandbox.stg.meesho.int
STORAGE_SCYLLA_KEYSPACE=interaction_store_test
STORAGE_SCYLLA_NUM_CONNS=1
STORAGE_SCYLLA_PORT=9042
STORAGE_SCYLLA_TIMEOUT_MS=300