APP_ENV=stg
APP_LOG_LEVEL=DEBUG
APP_METRIC_SAMPLING_RATE=1
APP_NAME=interaction-store-consumer-timeseries
APP_PORT=8089

MQ_API_AUTH_TOKEN=test
MQ_BATCH_SIZE=20
MQ_CACHE_REFRESH_INITIAL=60
MQ_CACHE_REFRESH_SCHEDULE=10000
MQ_CONSUMER_ENABLED=true
MQ_CONSUMER_VERSION=1
MQ_ENABLED=true
MQ_ENV=STAGING
MQ_FLUSH_INTERVAL_MILLIS=1000
MQ_KEEP_ALIVE_DURATION=50000
MQ_MAX_IDLE_CONNECTIONS=50000
MQ_OPEN_CIRCUIT_DURATION=10000
MQ_PRODUCER_ENABLED=false
MQ_QUEUE_SIZE_LOG_DELAY_SECONDS=1
MQ_SERVER_API_URL=60
MQ_SERVER_CONNECTION_TIMEOUTS=10000

PROFILING_ENABLED=true
PROFILING_PORT=8000

CLICK_CONSUMER_MQ_ID=1
ORDER_CONSUMER_MQ_ID=1

STORAGE_SCYLLA_CONTACT_POINTS=scyl-dev-sandbox.stg.meesho.int
STORAGE_SCYLLA_KEYSPACE=interaction_store_test
STORAGE_SCYLLA_NUM_CONNS=1
STORAGE_SCYLLA_PORT=9042
STORAGE_SCYLLA_TIMEOUT_MS=300