.pre-commit-config.yaml
trufflehog/
trufflebox-ui/node_modules/
dist/
.env*
.idea/
workspace/
.vscode/
.cursor/
__pycache__/
java-sdk/onfs/feature-store-client/target/
java-sdk/onfs/feature-store-flink-connector-sdk-flink1x/target/
java-sdk/onfs/feature-store-core/target/

# Dev toggle script artifacts
.internal-configs/
.dev-toggle-state
.go.mod.appended


flashring/performance_results.csv
flashring/mem.prof
flashring/flashring
flashring/flashringtest
