.pre-commit-config.yaml
trufflehog/
trufflebox-ui/node_modules/
dist/
.env*
.idea/
workspace/
__pycache__/

# Dev toggle script artifacts
.internal-configs/
.dev-toggle-state
.go.mod.appended
trufflebox-ui/yarn.lock