repos:
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: "pre-commit-scripts/runner.sh"
        language: script
        stages: ["pre-commit", "pre-push"]
