MEESHO_ENABLED=false
APP_NAME=horizon
APP_PORT=8082
APP_LOG_LEVEL=INFO
MYSQL_MASTER_MAX_POOL_SIZE=5
MYSQL_MASTER_MIN_POOL_SIZE=2
MYSQL_MASTER_PASSWORD=root
MYSQL_MASTER_HOST=127.0.0.1
MYSQL_MASTER_PORT=3306
MYSQL_MASTER_USERNAME=root
MYSQL_SLAVE_MAX_POOL_SIZE=5
MYSQL_SLAVE_MIN_POOL_SIZE=2
MYSQL_SLAVE_PASSWORD=root
MYSQL_SLAVE_HOST=127.0.0.1
MYSQL_SLAVE_USERNAME=root
MYSQL_SLAVE_PORT=3306
MYSQL_DB_NAME=testdb

ETCD_WATCHER_ENABLED=true
ETCD_SERVER=127.0.0.1:2379

CORS_ORIGINS=http://localhost:3000,http://localhost:8080

ONLINE_FEATURE_STORE_APP_NAME=onfs

SCYLLA_1_CONTACT_POINTS=127.0.0.1
SCYLLA_1_KEYSPACE=onfs
SCYLLA_1_NUM_CONNS=1
SCYLLA_1_PASSWORD=
SCYLLA_1_PORT=9042
SCYLLA_1_TIMEOUT_IN_MS=10000
SCYLLA_1_USERNAME=

SCYLLA_ACTIVE_CONFIG_IDS=1
REDIS_FAILOVER_ACTIVE_CONFIG_IDS=4
DISTRIBUTED_CACHE_ACTIVE_CONFIG_IDS=2
IN_MEMORY_CACHE_ACTIVE_CONFIG_IDS=3

NUMERIX_APP_NAME=numerix
NUMERIX_MONITORING_URL=http://localhost:8125/numerix_dashboard