APP_ENV=prod
APP_LOG_LEVEL=DEBUG
APP_METRIC_SAMPLING_RATE=1
APP_NAME=onfs
APP_PORT=8089

ETCD_SERVER=127.0.0.1:2379
ETCD_WATCHER_ENABLED=true

IN_MEM_CACHE_3_ENABLED=true
IN_MEM_CACHE_3_NAME=onfs
IN_MEM_CACHE_3_SIZE_IN_BYTES=100

STORAGE_SCYLLA_1_CONTACT_POINTS=127.0.01
STORAGE_SCYLLA_1_KEYSPACE=onfs
STORAGE_SCYLLA_1_NUM_CONNS=1
STORAGE_SCYLLA_1_PORT=9042
STORAGE_SCYLLA_1_TIMEOUT_IN_MS=300000
STORAGE_SCYLLA_1_PASSWORD=
STORAGE_SCYLLA_1_USERNAME=

STORAGE_SCYLLA_ACTIVE_CONFIG_IDS=1
IN_MEM_CACHE_ACTIVE_CONFIG_IDS=3

POD_IP=127.0.0.1
NODE_IP=127.0.0.1
